@font-face {
    font-family: 'Walkway-semibold';
    src: url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=408/Walkway_SemiBold-webfont.eot');
    src: url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=408/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=408/Walkway_SemiBold-webfont.woff') format('woff'),
         url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=408/Walkway_SemiBold-webfont.ttf') format('truetype'),
         url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=408/Walkway_SemiBold-webfont.svg#WalkwaySemiBoldRegular') format('svg');
    font-weight: 500;
    font-style: normal;
}


.first-row {
	position: relative;
	height: 100%;
	margin: 0 auto;
}

.centerDiv {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.hidden-menu a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font-family: 'Walkway-semibold';
	font-weight: bold;
	background-color: #646464;
	border-bottom: 1px solid #8B8B8B;
	top: 0px;
	left: 0px;
	float:left;
	color:#E2E2E2;
	margin: 0px;
}

.hidden-menu a:hover {
	opacity:0.6;
}

.hidden-menu {
	background-color: #B9B9B9;
}

.column {
	display: inline-block;
	position: relative;
	height: 100%;
	float: left;
}

.photo-box {
	width: 300px;
	height: 300px;
	background: white;
	display: inline-block;
	margin: 20px 20px 20px 20px;
}

.box-shadow-menu {
	position: relative;
	float: right;
	font-size: 37px;
	width: 65px;
	height: 65px;
}

.box-shadow-menu:before {
	content: "";
	margin-top: 9px;
	position: absolute;
	top: 0.25em;
	left: 0;
	width: 0.85em;
	height: 0.125em;
	border-top: 0.375em double rgb(76, 127, 167);
	border-bottom: 0.125em solid rgb(76, 127, 167);
}

html,body {
	background: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	font: bold 1em/1.5em "Walkway", Arial, Helvetica, Geneva, sans-serif;
  	margin: 0;
	background: transparent;
}

.header a{
	visibility: hidden;
}

.header {
	background-color: #ffffff;
	width: 100%;
	height: 65px;
	text-align: center;
}

.header a:hover {
	color: white;
}

.menu {
	background: #FFFEFE;
	width: 100%;	
}

a {color: white;}

.text-div{
	background-color: white;
	opacity: 0.7;
	position: relative;
}

.text-div p {
	margin-top: 15px;
	font-family: 'Walkway-semibold';
	color: rgb(76, 127, 167);	
	text-align: center;
	position: relative;
	padding: 5px 5px 5px 5px;
}

.text-wrapper {
	position: relative;
	text-align: center;
}

.me-text {
	font-family: 'Walkway-semibold';
	color: white;
	width: 100%;
	text-align: center;
	display: block;
	letter-spacing: 1px;
}

.design-text {
	margin-top: 0px;
	font-family: 'Walkway-semibold';
	color: rgb(76, 127, 167);
	text-align: center;
	top: 3%;
	width: auto;
	height: auto;
}

.art-text {
	margin-top: 0px;
	font-family: 'Walkway-semibold';
	color: rgb(76, 127, 167);
	text-align: center;
	top: 3%;
	width: auto;
	height: auto;
}

.data-text {
	font-family: 'Walkway-semibold';
	color: rgb(76, 127, 167);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
	
.contact-text {
	font-family: 'Walkway-semibold';
	color: rgb(76, 127, 167);
	text-align: center;
	margin-top: 150px;
	margin-bottom: 0;
}

#letstalk {
	font-family: 'Walkway-semibold';
	color: rgb(76, 127, 167);
	text-align: center;
	margin-bottom: 100px;
	margin-top: 25px;
}

.design-container {
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.art-container {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.me-container {
	height: 100%;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}

.data-container {overflow: auto;}

.inner-contact {
	float: left;
	height: 100%;
	padding: 0;
	margin-bottom: 4px;
	width: 100%;
	display: inline-block;
	background: rgb(76, 127, 167);
}

.footer {
	font-family: 'Walkway-semibold';
	color: rgb(76, 127, 167);
	font-size: 14pt;
	text-align: center;
	line-height: 14pt;
	margin-bottom: 20px;
	margin-top: 100px;
}

.circle-div {
	width: 308px;
	position: relative;
	height: 100px;
	margin: 0 auto;
}

.arrow-down {
	position: absolute;
	width: 0;
	height: 0;
	left: 50%;
	margin-left: -40px;
	border-left: 40px solid rgb(76, 127, 167);
	border-right: 40px solid rgb(76, 127, 167);
	border-top: 30px solid white;
}

.contactelement {
	width: 160px;
	height: 160px;
	background-color: transparent;
	opacity: 0.5;
	position: relative;
	display: inline-block;
	margin: 5px;
}

.contactelement:hover {
	opacity: 0.75;
}

.bitbucket {
	background: url(../images/bitbucket.png) no-repeat center center;
}

.email {
	background: url(../images/email.png) no-repeat center center;
}

.resume {
	background: url(../images/resume.png) no-repeat center center;
}

.linkedin {
	background: url(../images/linkedin.png) no-repeat center center;
}

.me-div {
	background-color: rgb(76, 127, 167);
	width: 100%;
	height: 100%;
}

.design-div {
	background-color: white;
	width: 100%;
	height: 100%;
}

.art-div {
	background-color: white;
	width: 100%;
	height: 100%;
}

.image-div {
	width: 100%;
	height: 250px;
	opacity: 0.7;
}

#me-image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	z-index: 10;
	position: relative;
	background: url(../images/me.jpg) no-repeat center center;
	border-color: white;
	margin-top:70px;
	background-size: contain;
}

#abstraction {
	background: transparent url("../images/a.JPG") no-repeat 0 center;
	background-size: cover;
}

#tree {
	background: transparent url("../images/tree.jpg") no-repeat 0 center;
	background-size: cover;
}

#earth {
	background: transparent url("../images/earth.jpg") no-repeat 0 center;
	background-size: cover;
}

#flow {
	background: transparent url("../images/flow.jpg") no-repeat 0 center;
	background-size: cover;
}

#mountain {
	background: transparent url("../images/mountain.jpg") no-repeat 0 center;
	background-size: cover;
}

#revok {
	background: transparent url("../images/revok.jpg") no-repeat 0 center;
	background-size: cover;
}

#circle {
	background: transparent url("../images/circle.jpg") no-repeat 0 center;
	background-size: cover;
}

#recone {
	background: transparent url("../images/recone.png") no-repeat 0 center;
	background-size: cover;
}

#sunsets {
	background: transparent url("../images/sunsets.jpg") no-repeat 0 center;
	background-size: cover;
}

#transit {
	background: transparent url("../images/transit.png") no-repeat 0 center;
	background-size: cover;
	background-position-y: -215px;
}

#onPoint {
	background: transparent url("../images/onPoint.jpg") no-repeat 0 center;
	background-size: cover;
	background-position-y: -155px;
}

#boxDot {
	background: transparent url("../images/boxdot.jpg") no-repeat 0 center;
	background-size: cover;
	background-position-y: -111px;
}

#boxDotGrid {
	background: transparent url("../images/boxdotgrid.jpg") no-repeat 0 center;
	background-size: cover;
	background-position-y: -111px;
}

#onPointMockup {
	background: transparent url("../images/onPointMockup.jpg") no-repeat 0 center;
	background-size: cover;
	background-position-y: -111px;
}

#usabilityMockUp {
	background: transparent url("../images/usabilityMockUp.jpg") no-repeat 0 center;
	background-size: cover;
	background-position-y: -111px;
}

#pdx {
	background: transparent url("../images/pdx.jpg") no-repeat 0 center;
	background-size: cover;
	background-position-x: -16px;
}

#imperfection {
	background: transparent url("../images/imperfection.jpg") no-repeat 0 center;
	background-size: cover;
}

#first {
	background: transparent url("../images/first.jpg") no-repeat 0 center;
	background-size: cover;
}

.arrow-up {
	position: relative;
	width: 0;
	height: 0;
	left: 140px;
	top: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #535353;
}

.bottom-box {
	width: 100%;
	background: #535353;
	top: -10px;
	height: 50px;
	text-align: center;
	letter-spacing: 2px;
	position: relative;
}

.photo-box-text {
	margin-top: 13px;
	letter-spacing: 1.2px;
	font-family: 'Walkway-semibold';
	color: rgb(204, 204, 204);
	font-size: 15pt;
	display: inline-block;
}

.data-div {
	background-color:white;
	width: 100%;
	height: 100%;
}

.inner-data {
	height: 100%;
	padding: 20px;
	background: rgb(76, 127, 167);
}

.inner-data p {	
	font-family: 'Walkway-semibold';
	color: white;
	font-size: 22pt;
	line-height: 100%;
	text-align: center;
	margin: 0;
	position: relative;
	padding: 0;
}

.data-inner-text{
	height: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.data-inner-text a{
	font-family: 'Walkway-semibold';
	color: black;
	line-height: 45pt;
	font-size: 20pt;
	text-align: center;
	width: 100%;
	display: inline-block;
	text-decoration: none;
}

.contact-container {
	overflow: auto;
}

.inner-contact a{
	font-family: 'Walkway-semibold';
	line-height: 45pt;
	font-size: 20pt;
	text-align: center;
	width: 100%;
	display: inline-block;
	text-decoration: none;
}

.inner-contact:hover{
	opacity: 0.5;
}


/*************************************/

@media screen and (max-width: 600px) {  
	
	body {
		font: bold 1em/1.5em "Walkway", Arial, Helvetica, Geneva, sans-serif;
	}

	.centerDiv {width: 350px;}
		
	.text-div {
		width: 100%;
		height: 350px;
	}
	
	.text-div p {
		margin-top: 0px;
		font-size: 36pt;
		width: 100%;
	}
	
	.text-wrapper {top: 18%;}
	
	.me-text {
		font-size: 18pt;
		line-height: 48px;
		padding: 5px 5px 5px 5px;
	}
	
	.design-text {
		font-size: 36pt;
		padding: 5px 5px 5px 5px;
		line-height: 36pt;
	}
	
	.art-text {
		font-size: 36pt;
		padding: 5px 5px 5px 5px;
		line-height: 36pt;
	}

	.data-text {
		font-size: 36pt;
		line-height: 55pt;
	}
	
	.hidden-menu a {
		font-size: 22px;
		line-height: 60px;
		width: 100%;
	}
	
	.hidden-menu {
		height: 244px;
	}

	.contact-text {
		font-size: 36pt;
		line-height: 55pt;
	}
	
	#letstalk {
		font-size: 20pt;
		line-height: 25pt;
	}
	
	.design-container {height: 100%;}

	.art-container {height: 100%;}
	
	.footer {
		font-size: 14pt;
		line-height: 14pt;
		margin-top: 150px;
	}
}

/************************************/
 
@media screen and (min-width:600px) {
	
	body {
		font: normal normal normal 1em/1em walkway,'times new roman',serif;
	}
	
	.hidden-menu {
		height: 61px;
	}

	.header a {	
		font-family: 'Walkway-semibold';
		font-weight: normal;
		color: rgb(230, 230, 230);
		float: right;
		line-height: 65px;
		font-size: 22px;
		margin-left: 1%;
		text-decoration: none;
	}

	.text-div {
		width: 100%;
		height: 400px;
	}

	.hidden-menu a {
		font-size: 22px;
		line-height: 60px;
		width: 25%;
	}

	.text-wrapper {top: 23%;}
		
	.text-div p {
		margin-top: 0px;
		font-size: 55pt;
		width: 100%;
		top: 1%;
	}

	.me-text {
		font-size: 24pt;
		line-height: 48px;
		padding: 5px 5px 5px 5px;
	}

	.design-text {
		font-size: 55pt;
		line-height: 55pt;
		padding: 5px 5px 5px 5px;
	}

	.art-text {
		font-size: 55pt;
		line-height: 55pt;
		padding: 5px 5px 5px 5px;
	}

	.data-text {
		font-size: 55pt;
		line-height: 55pt;
	}
	
	.contact-text {
		font-size: 55pt;
		line-height: 55pt;
	}
	
	#letstalk {
		font-size: 25pt;
		line-height: 25pt;
	}
	
	.design-container {height: 100%;}

	.art-container {height: 100%;}
	
	.inner-contact {
		margin-bottom: 200px;
		width: 25%;
	}
	
	.footer {
		font-size: 18pt;
		line-height: 18pt;
		margin-top: 150px;
	}
}

/*************************************/


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
/*iphone 4s*/
	.first-row{width: 320px;}
	
	.photo-box {margin: 10px;}
	
	.box-shadow-menu {
		width: 55px;
		height: 55px;
	}

	html,body {width: 320px;}
	
	body {
		font: bold 1em/1.5em "Walkway", Arial, Helvetica, Geneva, sans-serif;
	 	width: 320px;
	}

	.centerDiv {width: 100%;}

	.header {height: 55px;}

	.hidden-menu {height: 244px;}
		
	.text-div {
		width: 320px;
		height: 270px;
	}
	
	.text-div p {
		margin-top: 15px;
		font-size: 24pt;
		width: 320px;
	}
	
	.text-wrapper {top: 18%;}
	
	.me-text {
		font-size: 16pt;
		line-height: 48px;
	}
	
	.design-text {
		font-size: 36pt;
		line-height: 55pt;
	}
	
	.art-text {
		font-size: 36pt;
		line-height: 55pt;
	}

	.data-text {
		font-size: 36pt;
		line-height: 55pt;
	}
	
	.contact-text {
		font-size: 36pt;
		line-height: 55pt;
	}
	
	#letstalk {
		font-size: 20pt;
		line-height: 25pt;
	}

	.me-container {
		height: 100%;
		padding:30px;
	}
	
	.footer {
		font-size: 14pt;
		line-height: 14pt;
	}
	
	.arrow-down {left: 160px;}
}

@media screen and (min-width: 340px){
	.first-row{width: 340px;}
	.centerDiv {width: 350px;}
	.hidden-menu {height: 244px;}
	.hidden-menu a {
		font-size: 22px;
		line-height: 60px;
		width: 100%;
	}
}

@media screen and (max-width: 380px){
	.text-div p {
		font-size: 29pt;
	}
}

@media screen and (min-width: 684px){
	.first-row{width: 684px;}
	.column {width: 100%;}
	.centerDiv {width: 350px;}
}

@media screen and (min-width: 850px) {
	.column {width: 50%;}
	.centerDiv {width: 692px;}

}

@media screen and (min-width: 1028px) {
	.first-row{width: 1028px;}
	.column {width: 50%;}
}

