extends layout

block content
  include partials/navigation.jade
      
  #fullpage
    .section(data-index=1 data-name="About")
      h1 Hello World
    
    .section(data-index=2 data-name="TBD")

  include partials/footer.jade    
